{% extends 'base.twig' %}
{% block content %}
<div class="o-layout-container">
	<h1 class="c-article__header">{{post.title}}</h1>


	{% for policies in post.get_field('club_policies') %}
		<h3>{{policies.club_policy_heading}}</h3>
			{% for policy in policies.club_policy_links %}
				<a href="{{policy.club_policy_link}}">{{policy.club_policy_link_text}}</a>
			{% endfor %}
	{% endfor %}

</div>
{% endblock %}
