{% if menu %}
<div class="o-overlay"></div>

	<ul class="c-nav-primary__menu">
	{% for item in menu %}
		<li class="{{item.classes | join(' ')}}">
			<a class="c-nav-primary__link" href="{{item.get_link}}">{{item.title}}</a>
			{% include "menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}

	</ul>

	<div class="c-nav-primary__social">


		<a href="https://twitter.com/toby_719">
			<div class="icon-twitter c-nav-primary__social-icon"></div>
		</a>

		<a href="https://www.linkedin.com/in/tobybushell">
			<div class="icon-linkedin c-nav-primary__social-icon"></div>
		</a>

		<a href="https://github.com/toby-bushell">
			<div class="icon-github c-nav-primary__social-icon"></div>
		</a>
	</div>

{% endif %}
