.c-contact-content {
  padding: $base-spacing-unit * 2 0;
  text-align: center;
  font-size: 1.1em;

  @include breakpoint($break-tablet) {
    padding: $base-spacing-unit * 4 0;
    width: 75%;
    margin: 0 auto;
    font-size: 1.4em;
  };

  strong {
    font-size: 1.4em;
    color: $color-black;

    @include breakpoint($break-tablet) {
      font-size: 1.8em;
    }
  }
}

.c-contact__email {
  margin-top: $base-spacing-unit * 2;
  color: $color-black;

  @include breakpoint($break-tablet) {
    margin-top: $base-spacing-unit * 4;
  };
}

.c-contact__social {
  color: $color-black;

  .c-contact__social-icon {
    display: inline-block;
    font-size: 30px;
    margin: $base-spacing-unit / 2;

    @include hocus() {
      color: $color-gold;
    };
  }
}
