.c-home-hero__title-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 75%;

  @include breakpoint($break-tablet) {
    // left: 100px;
  };
}

.c-home-hero__title {
  color: $color-white;
  h1 {
    line-height: 1.5;
  }
}

.c-home-hero__subtitle {
  color: $color-white;
  opacity: 0;
  transform: scale(.9);
  transition: all 1s .2s ease-out;
  position: relative;
  top: 20px;

  @include breakpoint($break-tablet) {
    font-size: 1.5em;
  };
}

.c-home-hero__arrow {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  opacity: 0;

  &::before {
    font-size: 20px;
    color: $color-white;
  }
}
// Typing finished
.typed {
  .c-home-hero__subtitle {
    transform: scale(1);
    opacity: 1;
    top: 0;
  }

  .c-home-hero__arrow {
    animation: 2s ease-out 1.4s infinite arrow_blink;
  }
}

@keyframes arrow_blink {
  0% { opacity:.5; }
  50% { opacity:1; }
  100% { opacity:.5; }
}

// Contact page

.c-contact-hero {
  .o-layout-container {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  .c-home-hero__arrow {
    opacity: 1;
  }
}

.c-hero {
  position: relative;
  background-size: cover;
  height: 90vh;
  min-height: 400px;
  background-position: center;
  display: flex;

  .c-featured__title {
    @include smallUnderline;

    &::after {
      width: 50%;
    }
  }

  .o-layout-container {
    position: relative;
  }
}

.c-hero__title {
  position: absolute;
  max-width: 42em;
  color: $color-white;
  font-size: .8em;
  display: flex;
  align-items: center;
  height: 100%;

  h1 {
    text-transform: none;
  }
  i {
    color: $color-gold;
    font-style: normal;
  }
}
