.c-summary {
  margin: $base-spacing-unit * 5 0;
  font-size: 1.5em;

  h2 {
    display: inline-block;
    @include smallUnderline;
    margin-bottom: $base-spacing-unit;
    line-height: 1.2;

    &::after{
      width: 50%;
      margin-left: 0;
    }
  }

  @include breakpoint($break-tablet) {
    max-width: 66%;
    margin: $base-spacing-unit * 4;
  };

  @include breakpoint($break-desktop-med) {
    max-width: 55%;
  };

  @include breakpoint($break-desktop-xl) {
    margin: $base-spacing-unit * 6 0;
  };


  p {
    line-height: 1.8;
    color: $color-black;
  }
}
