<div class="c-contact-content">
	<div class="o-layout-container">
		<p>{{post.contact_content}}</p>
		<p class="c-contact__email">{{post.contact_content_email}}</p>

		<div class="c-contact__social">
			<div class="icon-twitter c-contact__social-icon"></div>
			<div class="icon-linkedin c-contact__social-icon"></div>
			<div class="icon-github c-contact__social-icon"></div>
		</div>

	</div>
</div>
