<div class="c-contact-hero o-hero-fullscreen">

		<div class="o-overlay"></div>

		<div class="o-layout-container">
			<div class="c-contact-hero__weather">
				<div class="c-contact-hero__weather-icon"></div>
				<div class="c-contact-hero__temp"></div>
			</div>
			<div class="c-contact-hero__time"></div>

			<div class="c-contact-hero__title">
				<h1>London</h1>
			</div>

		</div>
	<div class="icon-down-open-big c-home-hero__arrow"></div>
</div>
