<div class="c-contact">
	<div class="o-layout-container">
		<div class="c-contact__form">
			{{acf.contact_form}}
		</div>
		<div class="c-contact__content">
			{{acf.contact_content}}
		</div>
	</div>
</div>
