<div class="c-home-hero o-hero-fullscreen" style="background-image: url( {{TimberImage(post.get_field('home_hero_image') ) }})">

	<div class="o-overlay"></div>

	<div class="o-layout-container">
			<div class="c-home-hero__title-wrapper">
				<div class="c-home-hero__title">
					<h1 class="js-home-hero"></h1>
				</div>
				<p class="c-home-hero__subtitle">Wanna learn more?</p>
			</div>
	</div>
	<div class="icon-down-open-big c-home-hero__arrow"></div>
</div>
