<div class="o-social">
	<a href="https://twitter.com/toby_719">
		<div class="icon-twitter o-social__icon"></div>
	</a>

	<a href="https://www.linkedin.com/in/tobybushell">
		<div class="icon-linkedin o-social__icon"></div>
	</a>

	<a href="https://github.com/toby-bushell">
		<div class="icon-github o-social__icon"></div>
	</a>
</div>
