
.icon-right-open-big:before { content: '\e800'; } /* '' */
.icon-left-open-big:before { content: '\e801'; } /* '' */
.icon-chart-bar:before { content: '\e802'; } /* '' */
.icon-vcard:before { content: '\e803'; } /* '' */
.icon-group:before { content: '\e804'; } /* '' */
.icon-male:before { content: '\e805'; } /* '' */
.icon-mobile-1:before { content: '\e806'; } /* '' */
.icon-traffic-cone:before { content: '\e807'; } /* '' */
.icon-thumbs-up:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */