/*============================
=            PAGE            =
============================*/

/**
 * Page-level styling (e.g. HTML and BODY elements).
 */

html {
  line-height: $base-line-height / $base-font-size;
  background-color: $color-page-background;
  color: $color-page-text;
  height: 100%;
  font-family: $font-body;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  color: $color-grey;
}

em {
  font-weight: bold;
}
